body {
    margin: 20px;
       font-family: "Times New Roman", Times, serif;
}

.avatar {
    width: 150px;
    border:1px solid #904e55;
    border-radius:8px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f2efe9;
    color: #2b2839;
    border-bottom: 6px solid #BFB48F;
        
}